<div class="container  forgetpassword">
    <form [formGroup]="forgetPssword" (ngSubmit)="sendCode(forgetPssword)">
        <div class="row my-5 ">
            <div class="col-md-8 ">
                <div class="layer bg-light shadow p-5 ">
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control " />
                    <p class="text-main">{{issucsess}}</p>
                    <button class="bg-main btn text-light my-2 ">Send Code</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container  rsetcode d-none">
    <form [formGroup]="RestCode" (ngSubmit)="VerviyCode(RestCode)">
        <div class="row my-5 ">
            <div class="col-md-8 ">
                <div class="layer bg-light shadow p-5 ">
                    <label>code</label>
                    <input type="text" formControlName="resetCode" class="form-control" />
                    <p class="text-danger">{{succsess}}</p>
                    <button class="bg-main btn text-light my-2">rset Password</button>
                </div>
            </div>
        </div>
    </form>
</div>