<section>
    <div class="container">
        <h1 class="my-3 text-main">ResetPssword Form</h1>

        <form [formGroup]="ResetForm" (ngSubmit)=" ResetSubmit(ResetForm)">
            <div class=" row ">
                <div class="col-md-8 m-auto bg-light shadow p-5 my-5 ">
                    <div class="row ">


                        <div class="col-md-12 my-2 ">
                            <label class="fw-bold " for="email ">email</label>
                            <input formControlName="email" type="email" id="email " class="form-control ">
                            <div *ngIf="ResetForm.get('email')?.errors && ResetForm.get('email')?.touched">
                                <p class="text-danger" *ngIf="ResetForm.get('email')?.getError('required')"> This input Required</p>
                                <p class="text-danger" *ngIf="ResetForm.get('email')?.getError('email')"> enter valid Email</p>

                            </div>
                        </div>
                        <div class="col-md-12 my-2 ">
                            <label class="fw-bold " for="phone ">newPassword</label>
                            <input type="password" formControlName="newPassword" id="newPassword " class="form-control ">
                            <div *ngIf="ResetForm.get('newPassword')?.errors && ResetForm.get('newPassword')?.touched">
                                <p class="text-danger" *ngIf="ResetForm.get('newPassword')?.getError('required')"> This input Required</p>
                                <p class="text-danger" *ngIf="ResetForm.get('newPassword')?.getError('pattern')"> enter vaid Password</p>

                            </div>
                        </div>

                        <div class="my-2 ">
                            <p class="text-danger">{{error}}</p>
                            <button class="btn bg-main text-light float-end " type="submit"> Reset
                            <span *ngIf="Isloding">
                              <i class="fa-solid fa-spinner fa-spin  "></i>
                            </span>
                          </button>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</section>